# .env.example
# Copy this file to .env and file to actual credentials.
# Do NOT commit your actual .env file to version control.


DB_URL=jdbc:mysql://localhost:3306/my_database
DB_USERNAME=db=DB_USERNAME
DB_PASSWORD=secret_password
